# **Milestone 1 -  Okay-Guys : Olympic Games**

## Import Libraries

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns  

# Import matplotlib colors and ticker modules
import matplotlib.colors as mcolors  
import matplotlib.ticker as ticker  

from matplotlib.cm import ScalarMappable  

pd.options.mode.chained_assignment = None

## A. Data Loading, Preparation and Cleaning

In [24]:
# Define the directory
DATA_DIR = 'data/'

In [55]:
# Load the Olympics dataset 
df = pd.read_csv(DATA_DIR + 'host_cities_lon_lat.csv')
df

,City,Country,NOC,Summer,Winter,Year,Latitude,Longitude,x,y
0,Athens,Greece,GRE,I,NaN,1896,37.983333,23.733334,1111,257
1,Paris,France,FRA,II,NaN,1900,48.853410,2.348800,997,189
2,St. Louis,United States,USA,III,NaN,1904,38.627273,-90.197891,511,253
3,London,United Kingdom,GBR,IV,NaN,1908,51.508415,-0.125533,985,172
4,Stockholm,Sweden,SWE,V,NaN,1912,59.332577,18.064903,1068,125
5,Antwerp,Belgium,BEL,VII,NaN,1920,51.216667,4.416666,1007,174
6,Chamonix,France,FRA,NaN,I,1924,45.923700,6.869400,1021,207
7,Paris,France,FRA,VIII,NaN,1924,48.853410,2.348800,997,189
8,St. Moritz,Switzerland,SUI,NaN,II,1928,46.490800,9.835500,1035,203
9,Amsterdam,Netherlands,NED,IX,NaN,1928,52.307500,4.972222,1010,167
10,Lake Placid,United States,USA,NaN,III,1932,27.293100,-81.362846,540,326
11,Los Angeles,United States,USA,X,NaN,1932,34.052234,-118.243683,351,283
12,Garmisch-Partenkirchen,Nazi Germany,GER,NaN,IV,1936,47.492090,11.095760,1041,197
13,Berlin,Nazi Germany,GER,XI,NaN,1936,52.516667,13.400000,1051,166
14,St. Moritz,Switzerland,SUI,NaN,V,1948,46.490800,9.835500,1035,203
15,London,United Kingdom,GBR,XIV,NaN,1948,51.508415,-0.125533,985,172
16,Oslo,Norway,NOR,NaN,VI,1952,60.175556,24.934166,1099,120
17,Helsinki,Finland,FIN,XV,NaN,1952,60.169900,24.938400,1099,120
18,Cortina d'Ampezzo,Italy,ITA,NaN,VII,1956,46.540500,12.135700,1047,203
19,Melbourne,Australia,AUS,XVI,NaN,1956,-37.813997,144.963318,1751,744
20,Stockholm,Sweden,SWE,XVI,NaN,1956,59.332577,18.064903,1068,125
21,Squaw Valley,United States,USA,NaN,VIII,1960,39.196300,-120.233600,355,249
22,Rome,Italy,ITA,XVII,NaN,1960,41.900000,12.483334,1050,232
23,Innsbruck,Austria,AUT,NaN,IX,1964,47.266667,11.400000,1043,199
24,Tokyo,Japan,JPN,XVIII,NaN,1964,35.689527,139.691681,1730,272
25,Grenoble,France,FRA,NaN,X,1968,45.166667,5.716667,1015,212
26,Mexico City,Mexico,MEX,XIX,NaN,1968,19.434167,-99.138611,433,377
27,Sapporo,Japan,JPN,NaN,XI,1972,43.054722,141.353882,1712,225
28,Munich,West Germany,GER,XX,NaN,1972,48.135100,11.582000,1044,193
29,Innsbruck,Austria,AUT,NaN,XII,1976,47.266667,11.400000,1043,199
30,Montreal,Canada,CAN,XXI,NaN,1976,45.516779,-73.649178,613,210
31,Lake Placid,United States,USA,NaN,XIII,1980,27.293100,-81.362846,540,326
32,Moscow,Soviet Union,RUS,XXII,NaN,1980,55.752222,37.615555,1163,146
33,Sarajevo,Yugoslavia,RUS,NaN,XIV,1984,43.850000,18.383333,1080,220
34,Los Angeles,United States,USA,XXIII,NaN,1984,34.052234,-118.243683,351,283
35,Calgary,Canada,CAN,NaN,XV,1988,51.050112,-114.085289,429,175
36,Seoul,South Korea,KOR,XXIV,NaN,1988,37.566389,126.999725,1657,260
37,Albertville,France,FRA,NaN,XVI,1992,45.675500,6.392700,1018,209
38,Barcelona,Spain,ESP,XXV,NaN,1992,41.388787,2.158985,997,235
39,Lillehammer,Norway,NOR,NaN,XVII,1994,61.115300,10.466200,1033,114
40,Atlanta,United States,USA,XXVI,NaN,1996,33.748995,-84.387985,533,285
41,Nagano,Japan,JPN,NaN,XVIII,1998,36.650000,138.183334,1719,266
42,Sydney,Australia,AUS,XXVII,NaN,2000,-33.867850,151.207321,1798,719
43,Salt Lake City,United States,USA,NaN,XIX,2002,40.758701,-111.876183,404,239
44,Athens,Greece,GRE,XXVIII,NaN,2004,37.983333,23.733334,1111,257
45,Turin,Italy,ITA,NaN,XX,2006,45.070300,7.686900,1025,212
46,Beijing,China,CHN,XXIX,NaN,2008,39.907498,116.397224,1595,245
47,Vancouver,Canada,CAN,NaN,XXI,2010,49.249657,-123.119339,377,186
48,London,United Kingdom,GBR,XXX,NaN,2012,51.508415,-0.125533,985,172
49,Sochi,Russia,RUS,NaN,XXII,2014,43.600000,39.730278,1189,222
50,Rio de Janeiro,Brazil,BRA,XXXI,NaN,2016,-22.902778,-43.207501,747,648

In [56]:
df["number"] = df.index

# Réorganiser les colonnes
df = df.rename(columns={"lat": "Latitude", "lng": "Longitude"})

# Convertir en format de dictionnaire de dictionnaires
locations = df.set_index("number").T.to_dict()

# Imprimer le résultat
print(locations)

{0: {'City': 'Athens', 'Country': 'Greece', 'NOC': 'GRE', 'Summer': 'I', 'Winter': nan, 'Year': 1896, 'Latitude': 37.9833333, 'Longitude': 23.7333336, ' x': 1111, ' y': 257}, 1: {'City': 'Paris', 'Country': 'France', 'NOC': 'FRA', 'Summer': 'II', 'Winter': nan, 'Year': 1900, 'Latitude': 48.85341, 'Longitude': 2.3487999, ' x': 997, ' y': 189}, 2: {'City': 'St. Louis', 'Country': 'United States', 'NOC': 'USA', 'Summer': 'III', 'Winter': nan, 'Year': 1904, 'Latitude': 38.6272733, 'Longitude': -90.1978912, ' x': 511, ' y': 253}, 3: {'City': 'London', 'Country': 'United Kingdom', 'NOC': 'GBR', 'Summer': 'IV', 'Winter': nan, 'Year': 1908, 'Latitude': 51.5084153, 'Longitude': -0.1255327, ' x': 985, ' y': 172}, 4: {'City': 'Stockholm', 'Country': 'Sweden', 'NOC': 'SWE', 'Summer': 'V', 'Winter': nan, 'Year': 1912, 'Latitude': 59.3325765, 'Longitude': 18.0649033, ' x': 1068, ' y': 125}, 5: {'City': 'Antwerp', 'Country': 'Belgium', 'NOC': 'BEL', 'Summer': 'VII', 'Winter': nan, 'Year': 1920, 'Latitude': 51.2166667, 'Longitude': 4.4166665, ' x': 1007, ' y': 174}, 6: {'City': 'Chamonix', 'Country': 'France', 'NOC': 'FRA', 'Summer': nan, 'Winter': 'I', 'Year': 1924, 'Latitude': 45.9237, 'Longitude': 6.8694, ' x': 1021, ' y': 207}, 7: {'City': 'Paris', 'Country': 'France', 'NOC': 'FRA', 'Summer': 'VIII', 'Winter': nan, 'Year': 1924, 'Latitude': 48.85341, 'Longitude': 2.3487999, ' x': 997, ' y': 189}, 8: {'City': 'St. Moritz', 'Country': 'Switzerland', 'NOC': 'SUI', 'Summer': nan, 'Winter': 'II', 'Year': 1928, 'Latitude': 46.4908, 'Longitude': 9.8355, ' x': 1035, ' y': 203}, 9: {'City': 'Amsterdam', 'Country': 'Netherlands', 'NOC': 'NED', 'Summer': 'IX', 'Winter': nan, 'Year': 1928, 'Latitude': 52.3075, 'Longitude': 4.9722219, ' x': 1010, ' y': 167}, 10: {'City': 'Lake Placid', 'Country': 'United States', 'NOC': 'USA', 'Summer': nan, 'Winter': 'III', 'Year': 1932, 'Latitude': 27.2931, 'Longitude': -81.362846, ' x': 540, ' y': 326}, 11: {'City': 'Los Angeles', 'Country': 'United States', 'NOC': 'USA', 'Summer': 'X', 'Winter': nan, 'Year': 1932, 'Latitude': 34.0522342, 'Longitude': -118.2436829, ' x': 351, ' y': 283}, 12: {'City': 'Garmisch-Partenkirchen', 'Country': 'Nazi Germany', 'NOC': 'GER', 'Summer': nan, 'Winter': 'IV', 'Year': 1936, 'Latitude': 47.49209, 'Longitude': 11.09576, ' x': 1041, ' y': 197}, 13: {'City': 'Berlin', 'Country': 'Nazi Germany', 'NOC': 'GER', 'Summer': 'XI', 'Winter': nan, 'Year': 1936, 'Latitude': 52.5166667, 'Longitude': 13.3999996, ' x': 1051, ' y': 166}, 14: {'City': 'St. Moritz', 'Country': 'Switzerland', 'NOC': 'SUI', 'Summer': nan, 'Winter': 'V', 'Year': 1948, 'Latitude': 46.4908, 'Longitude': 9.8355, ' x': 1035, ' y': 203}, 15: {'City': 'London', 'Country': 'United Kingdom', 'NOC': 'GBR', 'Summer': 'XIV', 'Winter': nan, 'Year': 1948, 'Latitude': 51.5084153, 'Longitude': -0.1255327, ' x': 985, ' y': 172}, 16: {'City': 'Oslo', 'Country': 'Norway', 'NOC': 'NOR', 'Summer': nan, 'Winter': 'VI', 'Year': 1952, 'Latitude': 60.1755556, 'Longitude': 24.934166, ' x': 1099, ' y': 120}, 17: {'City': 'Helsinki', 'Country': 'Finland', 'NOC': 'FIN', 'Summer': 'XV', 'Winter': nan, 'Year': 1952, 'Latitude': 60.1699, 'Longitude': 24.9384, ' x': 1099, ' y': 120}, 18: {'City': "Cortina d'Ampezzo", 'Country': 'Italy', 'NOC': 'ITA', 'Summer': nan, 'Winter': 'VII', 'Year': 1956, 'Latitude': 46.5405, 'Longitude': 12.1357, ' x': 1047, ' y': 203}, 19: {'City': 'Melbourne', 'Country': 'Australia', 'NOC': 'AUS', 'Summer': 'XVI', 'Winter': nan, 'Year': 1956, 'Latitude': -37.8139966, 'Longitude': 144.9633179, ' x': 1751, ' y': 744}, 20: {'City': 'Stockholm', 'Country': 'Sweden', 'NOC': 'SWE', 'Summer': 'XVI', 'Winter': nan, 'Year': 1956, 'Latitude': 59.3325765, 'Longitude': 18.0649033, ' x': 1068, ' y': 125}, 21: {'City': 'Squaw Valley', 'Country': 'United States', 'NOC': 'USA', 'Summer': nan, 'Winter': 'VIII', 'Year': 1960, 'Latitude': 39.1963, 'Longitude': -120.2336, ' x': 355, ' y': 249}, 22: {'City': 'Rome', 'Country': 'Italy', 'NOC': 'ITA', 'Summer': 'XVII', 'Winter': nan, 'Year': 1960, 'Latitude': 41.9, 'Longitude': 12.4833336, ' x': 1050, ' y': 232}, 23: {'City': 'Innsbruck', 'Country': 'Austria', 'NOC': 'AUT', 'Summer': nan, 'Winter': 'IX', 'Year': 1964, 'Latitude': 47.2666667, 'Longitude': 11.3999996, ' x': 1043, ' y': 199}, 24: {'City': 'Tokyo', 'Country': 'Japan', 'NOC': 'JPN', 'Summer': 'XVIII', 'Winter': nan, 'Year': 1964, 'Latitude': 35.6895266, 'Longitude': 139.6916809, ' x': 1730, ' y': 272}, 25: {'City': 'Grenoble', 'Country': 'France', 'NOC': 'FRA', 'Summer': nan, 'Winter': 'X', 'Year': 1968, 'Latitude': 45.1666667, 'Longitude': 5.7166667, ' x': 1015, ' y': 212}, 26: {'City': 'Mexico City', 'Country': 'Mexico', 'NOC': 'MEX', 'Summer': 'XIX', 'Winter': nan, 'Year': 1968, 'Latitude': 19.4341667, 'Longitude': -99.1386108, ' x': 433, ' y': 377}, 27: {'City': 'Sapporo', 'Country': 'Japan', 'NOC': 'JPN', 'Summer': nan, 'Winter': 'XI', 'Year': 1972, 'Latitude': 43.0547222, 'Longitude': 141.3538818, ' x': 1712, ' y': 225}, 28: {'City': 'Munich', 'Country': 'West Germany', 'NOC': 'GER', 'Summer': 'XX', 'Winter': nan, 'Year': 1972, 'Latitude': 48.1351, 'Longitude': 11.582, ' x': 1044, ' y': 193}, 29: {'City': 'Innsbruck', 'Country': 'Austria', 'NOC': 'AUT', 'Summer': nan, 'Winter': 'XII', 'Year': 1976, 'Latitude': 47.2666667, 'Longitude': 11.3999996, ' x': 1043, ' y': 199}, 30: {'City': 'Montreal', 'Country': 'Canada', 'NOC': 'CAN', 'Summer': 'XXI', 'Winter': nan, 'Year': 1976, 'Latitude': 45.5167792, 'Longitude': -73.6491776, ' x': 613, ' y': 210}, 31: {'City': 'Lake Placid', 'Country': 'United States', 'NOC': 'USA', 'Summer': nan, 'Winter': 'XIII', 'Year': 1980, 'Latitude': 27.2931, 'Longitude': -81.362846, ' x': 540, ' y': 326}, 32: {'City': 'Moscow', 'Country': 'Soviet Union', 'NOC': 'RUS', 'Summer': 'XXII', 'Winter': nan, 'Year': 1980, 'Latitude': 55.7522222, 'Longitude': 37.6155548, ' x': 1163, ' y': 146}, 33: {'City': 'Sarajevo', 'Country': 'Yugoslavia', 'NOC': 'RUS', 'Summer': nan, 'Winter': 'XIV', 'Year': 1984, 'Latitude': 43.85, 'Longitude': 18.3833332, ' x': 1080, ' y': 220}, 34: {'City': 'Los Angeles', 'Country': 'United States', 'NOC': 'USA', 'Summer': 'XXIII', 'Winter': nan, 'Year': 1984, 'Latitude': 34.0522342, 'Longitude': -118.2436829, ' x': 351, ' y': 283}, 35: {'City': 'Calgary', 'Country': 'Canada', 'NOC': 'CAN', 'Summer': nan, 'Winter': 'XV', 'Year': 1988, 'Latitude': 51.0501123, 'Longitude': -114.085289, ' x': 429, ' y': 175}, 36: {'City': 'Seoul', 'Country': 'South Korea', 'NOC': 'KOR', 'Summer': 'XXIV', 'Winter': nan, 'Year': 1988, 'Latitude': 37.5663889, 'Longitude': 126.9997253, ' x': 1657, ' y': 260}, 37: {'City': 'Albertville', 'Country': 'France', 'NOC': 'FRA', 'Summer': nan, 'Winter': 'XVI', 'Year': 1992, 'Latitude': 45.6755, 'Longitude': 6.3927, ' x': 1018, ' y': 209}, 38: {'City': 'Barcelona', 'Country': 'Spain', 'NOC': 'ESP', 'Summer': 'XXV', 'Winter': nan, 'Year': 1992, 'Latitude': 41.3887869, 'Longitude': 2.1589851, ' x': 997, ' y': 235}, 39: {'City': 'Lillehammer', 'Country': 'Norway', 'NOC': 'NOR', 'Summer': nan, 'Winter': 'XVII', 'Year': 1994, 'Latitude': 61.1153, 'Longitude': 10.4662, ' x': 1033, ' y': 114}, 40: {'City': 'Atlanta', 'Country': 'United States', 'NOC': 'USA', 'Summer': 'XXVI', 'Winter': nan, 'Year': 1996, 'Latitude': 33.7489954, 'Longitude': -84.3879852, ' x': 533, ' y': 285}, 41: {'City': 'Nagano', 'Country': 'Japan', 'NOC': 'JPN', 'Summer': nan, 'Winter': 'XVIII', 'Year': 1998, 'Latitude': 36.65, 'Longitude': 138.1833344, ' x': 1719, ' y': 266}, 42: {'City': 'Sydney', 'Country': 'Australia', 'NOC': 'AUS', 'Summer': 'XXVII', 'Winter': nan, 'Year': 2000, 'Latitude': -33.86785, 'Longitude': 151.2073212, ' x': 1798, ' y': 719}, 43: {'City': 'Salt Lake City', 'Country': 'United States', 'NOC': 'USA', 'Summer': nan, 'Winter': 'XIX', 'Year': 2002, 'Latitude': 40.758701, 'Longitude': -111.876183, ' x': 404, ' y': 239}, 44: {'City': 'Athens', 'Country': 'Greece', 'NOC': 'GRE', 'Summer': 'XXVIII', 'Winter': nan, 'Year': 2004, 'Latitude': 37.9833333, 'Longitude': 23.7333336, ' x': 1111, ' y': 257}, 45: {'City': 'Turin', 'Country': 'Italy', 'NOC': 'ITA', 'Summer': nan, 'Winter': 'XX', 'Year': 2006, 'Latitude': 45.0703, 'Longitude': 7.6869, ' x': 1025, ' y': 212}, 46: {'City': 'Beijing', 'Country': 'China', 'NOC': 'CHN', 'Summer': 'XXIX', 'Winter': nan, 'Year': 2008, 'Latitude': 39.9074977, 'Longitude': 116.3972244, ' x': 1595, ' y': 245}, 47: {'City': 'Vancouver', 'Country': 'Canada', 'NOC': 'CAN', 'Summer': nan, 'Winter': 'XXI', 'Year': 2010, 'Latitude': 49.2496574, 'Longitude': -123.119339, ' x': 377, ' y': 186}, 48: {'City': 'London', 'Country': 'United Kingdom', 'NOC': 'GBR', 'Summer': 'XXX', 'Winter': nan, 'Year': 2012, 'Latitude': 51.5084153, 'Longitude': -0.1255327, ' x': 985, ' y': 172}, 49: {'City': 'Sochi', 'Country': 'Russia', 'NOC': 'RUS', 'Summer': nan, 'Winter': 'XXII', 'Year': 2014, 'Latitude': 43.6, 'Longitude': 39.730278, ' x': 1189, ' y': 222}, 50: {'City': 'Rio de Janeiro', 'Country': 'Brazil', 'NOC': 'BRA', 'Summer': 'XXXI', 'Winter': nan, 'Year': 2016, 'Latitude': -22.9027778, 'Longitude': -43.2075005, ' x': 747, ' y': 648}}

In [57]:
locations

{0: {'City': 'Athens',
  'Country': 'Greece',
  'NOC': 'GRE',
  'Summer': 'I',
  'Winter': nan,
  'Year': 1896,
  'Latitude': 37.9833333,
  'Longitude': 23.7333336,
  ' x': 1111,
  ' y': 257},
 1: {'City': 'Paris',
  'Country': 'France',
  'NOC': 'FRA',
  'Summer': 'II',
  'Winter': nan,
  'Year': 1900,
  'Latitude': 48.85341,
  'Longitude': 2.3487999,
  ' x': 997,
  ' y': 189},
 2: {'City': 'St. Louis',
  'Country': 'United States',
  'NOC': 'USA',
  'Summer': 'III',
  'Winter': nan,
  'Year': 1904,
  'Latitude': 38.6272733,
  'Longitude': -90.1978912,
  ' x': 511,
  ' y': 253},
 3: {'City': 'London',
  'Country': 'United Kingdom',
  'NOC': 'GBR',
  'Summer': 'IV',
  'Winter': nan,
  'Year': 1908,
  'Latitude': 51.5084153,
  'Longitude': -0.1255327,
  ' x': 985,
  ' y': 172},
 4: {'City': 'Stockholm',
  'Country': 'Sweden',
  'NOC': 'SWE',
  'Summer': 'V',
  'Winter': nan,
  'Year': 1912,
  'Latitude': 59.3325765,
  'Longitude': 18.0649033,
  ' x': 1068,
  ' y': 125},
 5: {'City': 'Antwerp',
  'Country': 'Belgium',
  'NOC': 'BEL',
  'Summer': 'VII',
  'Winter': nan,
  'Year': 1920,
  'Latitude': 51.2166667,
  'Longitude': 4.4166665,
  ' x': 1007,
  ' y': 174},
 6: {'City': 'Chamonix',
  'Country': 'France',
  'NOC': 'FRA',
  'Summer': nan,
  'Winter': 'I',
  'Year': 1924,
  'Latitude': 45.9237,
  'Longitude': 6.8694,
  ' x': 1021,
  ' y': 207},
 7: {'City': 'Paris',
  'Country': 'France',
  'NOC': 'FRA',
  'Summer': 'VIII',
  'Winter': nan,
  'Year': 1924,
  'Latitude': 48.85341,
  'Longitude': 2.3487999,
  ' x': 997,
  ' y': 189},
 8: {'City': 'St. Moritz',
  'Country': 'Switzerland',
  'NOC': 'SUI',
  'Summer': nan,
  'Winter': 'II',
  'Year': 1928,
  'Latitude': 46.4908,
  'Longitude': 9.8355,
  ' x': 1035,
  ' y': 203},
 9: {'City': 'Amsterdam',
  'Country': 'Netherlands',
  'NOC': 'NED',
  'Summer': 'IX',
  'Winter': nan,
  'Year': 1928,
  'Latitude': 52.3075,
  'Longitude': 4.9722219,
  ' x': 1010,
  ' y': 167},
 10: {'City': 'Lake Placid',
  'Country': 'United States',
  'NOC': 'USA',
  'Summer': nan,
  'Winter': 'III',
  'Year': 1932,
  'Latitude': 27.2931,
  'Longitude': -81.362846,
  ' x': 540,
  ' y': 326},
 11: {'City': 'Los Angeles',
  'Country': 'United States',
  'NOC': 'USA',
  'Summer': 'X',
  'Winter': nan,
  'Year': 1932,
  'Latitude': 34.0522342,
  'Longitude': -118.2436829,
  ' x': 351,
  ' y': 283},
 12: {'City': 'Garmisch-Partenkirchen',
  'Country': 'Nazi Germany',
  'NOC': 'GER',
  'Summer': nan,
  'Winter': 'IV',
  'Year': 1936,
  'Latitude': 47.49209,
  'Longitude': 11.09576,
  ' x': 1041,
  ' y': 197},
 13: {'City': 'Berlin',
  'Country': 'Nazi Germany',
  'NOC': 'GER',
  'Summer': 'XI',
  'Winter': nan,
  'Year': 1936,
  'Latitude': 52.5166667,
  'Longitude': 13.3999996,
  ' x': 1051,
  ' y': 166},
 14: {'City': 'St. Moritz',
  'Country': 'Switzerland',
  'NOC': 'SUI',
  'Summer': nan,
  'Winter': 'V',
  'Year': 1948,
  'Latitude': 46.4908,
  'Longitude': 9.8355,
  ' x': 1035,
  ' y': 203},
 15: {'City': 'London',
  'Country': 'United Kingdom',
  'NOC': 'GBR',
  'Summer': 'XIV',
  'Winter': nan,
  'Year': 1948,
  'Latitude': 51.5084153,
  'Longitude': -0.1255327,
  ' x': 985,
  ' y': 172},
 16: {'City': 'Oslo',
  'Country': 'Norway',
  'NOC': 'NOR',
  'Summer': nan,
  'Winter': 'VI',
  'Year': 1952,
  'Latitude': 60.1755556,
  'Longitude': 24.934166,
  ' x': 1099,
  ' y': 120},
 17: {'City': 'Helsinki',
  'Country': 'Finland',
  'NOC': 'FIN',
  'Summer': 'XV',
  'Winter': nan,
  'Year': 1952,
  'Latitude': 60.1699,
  'Longitude': 24.9384,
  ' x': 1099,
  ' y': 120},
 18: {'City': "Cortina d'Ampezzo",
  'Country': 'Italy',
  'NOC': 'ITA',
  'Summer': nan,
  'Winter': 'VII',
  'Year': 1956,
  'Latitude': 46.5405,
  'Longitude': 12.1357,
  ' x': 1047,
  ' y': 203},
 19: {'City': 'Melbourne',
  'Country': 'Australia',
  'NOC': 'AUS',
  'Summer': 'XVI',
  'Winter': nan,
  'Year': 1956,
  'Latitude': -37.8139966,
  'Longitude': 144.9633179,
  ' x': 1751,
  ' y': 744},
 20: {'City': 'Stockholm',
  'Country': 'Sweden',
  'NOC': 'SWE',
  'Summer': 'XVI',
  'Winter': nan,
  'Year': 1956,
  'Latitude': 59.3325765,
  'Longitude': 18.0649033,
  ' x': 1068,
  ' y': 125},
 21: {'City': 'Squaw Valley',
  'Country': 'United States',
  'NOC': 'USA',
  'Summer': nan,
  'Winter': 'VIII',
  'Year': 1960,
  'Latitude': 39.1963,
  'Longitude': -120.2336,
  ' x': 355,
  ' y': 249},
 22: {'City': 'Rome',
  'Country': 'Italy',
  'NOC': 'ITA',
  'Summer': 'XVII',
  'Winter': nan,
  'Year': 1960,
  'Latitude': 41.9,
  'Longitude': 12.4833336,
  ' x': 1050,
  ' y': 232},
 23: {'City': 'Innsbruck',
  'Country': 'Austria',
  'NOC': 'AUT',
  'Summer': nan,
  'Winter': 'IX',
  'Year': 1964,
  'Latitude': 47.2666667,
  'Longitude': 11.3999996,
  ' x': 1043,
  ' y': 199},
 24: {'City': 'Tokyo',
  'Country': 'Japan',
  'NOC': 'JPN',
  'Summer': 'XVIII',
  'Winter': nan,
  'Year': 1964,
  'Latitude': 35.6895266,
  'Longitude': 139.6916809,
  ' x': 1730,
  ' y': 272},
 25: {'City': 'Grenoble',
  'Country': 'France',
  'NOC': 'FRA',
  'Summer': nan,
  'Winter': 'X',
  'Year': 1968,
  'Latitude': 45.1666667,
  'Longitude': 5.7166667,
  ' x': 1015,
  ' y': 212},
 26: {'City': 'Mexico City',
  'Country': 'Mexico',
  'NOC': 'MEX',
  'Summer': 'XIX',
  'Winter': nan,
  'Year': 1968,
  'Latitude': 19.4341667,
  'Longitude': -99.1386108,
  ' x': 433,
  ' y': 377},
 27: {'City': 'Sapporo',
  'Country': 'Japan',
  'NOC': 'JPN',
  'Summer': nan,
  'Winter': 'XI',
  'Year': 1972,
  'Latitude': 43.0547222,
  'Longitude': 141.3538818,
  ' x': 1712,
  ' y': 225},
 28: {'City': 'Munich',
  'Country': 'West Germany',
  'NOC': 'GER',
  'Summer': 'XX',
  'Winter': nan,
  'Year': 1972,
  'Latitude': 48.1351,
  'Longitude': 11.582,
  ' x': 1044,
  ' y': 193},
 29: {'City': 'Innsbruck',
  'Country': 'Austria',
  'NOC': 'AUT',
  'Summer': nan,
  'Winter': 'XII',
  'Year': 1976,
  'Latitude': 47.2666667,
  'Longitude': 11.3999996,
  ' x': 1043,
  ' y': 199},
 30: {'City': 'Montreal',
  'Country': 'Canada',
  'NOC': 'CAN',
  'Summer': 'XXI',
  'Winter': nan,
  'Year': 1976,
  'Latitude': 45.5167792,
  'Longitude': -73.6491776,
  ' x': 613,
  ' y': 210},
 31: {'City': 'Lake Placid',
  'Country': 'United States',
  'NOC': 'USA',
  'Summer': nan,
  'Winter': 'XIII',
  'Year': 1980,
  'Latitude': 27.2931,
  'Longitude': -81.362846,
  ' x': 540,
  ' y': 326},
 32: {'City': 'Moscow',
  'Country': 'Soviet Union',
  'NOC': 'RUS',
  'Summer': 'XXII',
  'Winter': nan,
  'Year': 1980,
  'Latitude': 55.7522222,
  'Longitude': 37.6155548,
  ' x': 1163,
  ' y': 146},
 33: {'City': 'Sarajevo',
  'Country': 'Yugoslavia',
  'NOC': 'RUS',
  'Summer': nan,
  'Winter': 'XIV',
  'Year': 1984,
  'Latitude': 43.85,
  'Longitude': 18.3833332,
  ' x': 1080,
  ' y': 220},
 34: {'City': 'Los Angeles',
  'Country': 'United States',
  'NOC': 'USA',
  'Summer': 'XXIII',
  'Winter': nan,
  'Year': 1984,
  'Latitude': 34.0522342,
  'Longitude': -118.2436829,
  ' x': 351,
  ' y': 283},
 35: {'City': 'Calgary',
  'Country': 'Canada',
  'NOC': 'CAN',
  'Summer': nan,
  'Winter': 'XV',
  'Year': 1988,
  'Latitude': 51.0501123,
  'Longitude': -114.085289,
  ' x': 429,
  ' y': 175},
 36: {'City': 'Seoul',
  'Country': 'South Korea',
  'NOC': 'KOR',
  'Summer': 'XXIV',
  'Winter': nan,
  'Year': 1988,
  'Latitude': 37.5663889,
  'Longitude': 126.9997253,
  ' x': 1657,
  ' y': 260},
 37: {'City': 'Albertville',
  'Country': 'France',
  'NOC': 'FRA',
  'Summer': nan,
  'Winter': 'XVI',
  'Year': 1992,
  'Latitude': 45.6755,
  'Longitude': 6.3927,
  ' x': 1018,
  ' y': 209},
 38: {'City': 'Barcelona',
  'Country': 'Spain',
  'NOC': 'ESP',
  'Summer': 'XXV',
  'Winter': nan,
  'Year': 1992,
  'Latitude': 41.3887869,
  'Longitude': 2.1589851,
  ' x': 997,
  ' y': 235},
 39: {'City': 'Lillehammer',
  'Country': 'Norway',
  'NOC': 'NOR',
  'Summer': nan,
  'Winter': 'XVII',
  'Year': 1994,
  'Latitude': 61.1153,
  'Longitude': 10.4662,
  ' x': 1033,
  ' y': 114},
 40: {'City': 'Atlanta',
  'Country': 'United States',
  'NOC': 'USA',
  'Summer': 'XXVI',
  'Winter': nan,
  'Year': 1996,
  'Latitude': 33.7489954,
  'Longitude': -84.3879852,
  ' x': 533,
  ' y': 285},
 41: {'City': 'Nagano',
  'Country': 'Japan',
  'NOC': 'JPN',
  'Summer': nan,
  'Winter': 'XVIII',
  'Year': 1998,
  'Latitude': 36.65,
  'Longitude': 138.1833344,
  ' x': 1719,
  ' y': 266},
 42: {'City': 'Sydney',
  'Country': 'Australia',
  'NOC': 'AUS',
  'Summer': 'XXVII',
  'Winter': nan,
  'Year': 2000,
  'Latitude': -33.86785,
  'Longitude': 151.2073212,
  ' x': 1798,
  ' y': 719},
 43: {'City': 'Salt Lake City',
  'Country': 'United States',
  'NOC': 'USA',
  'Summer': nan,
  'Winter': 'XIX',
  'Year': 2002,
  'Latitude': 40.758701,
  'Longitude': -111.876183,
  ' x': 404,
  ' y': 239},
 44: {'City': 'Athens',
  'Country': 'Greece',
  'NOC': 'GRE',
  'Summer': 'XXVIII',
  'Winter': nan,
  'Year': 2004,
  'Latitude': 37.9833333,
  'Longitude': 23.7333336,
  ' x': 1111,
  ' y': 257},
 45: {'City': 'Turin',
  'Country': 'Italy',
  'NOC': 'ITA',
  'Summer': nan,
  'Winter': 'XX',
  'Year': 2006,
  'Latitude': 45.0703,
  'Longitude': 7.6869,
  ' x': 1025,
  ' y': 212},
 46: {'City': 'Beijing',
  'Country': 'China',
  'NOC': 'CHN',
  'Summer': 'XXIX',
  'Winter': nan,
  'Year': 2008,
  'Latitude': 39.9074977,
  'Longitude': 116.3972244,
  ' x': 1595,
  ' y': 245},
 47: {'City': 'Vancouver',
  'Country': 'Canada',
  'NOC': 'CAN',
  'Summer': nan,
  'Winter': 'XXI',
  'Year': 2010,
  'Latitude': 49.2496574,
  'Longitude': -123.119339,
  ' x': 377,
  ' y': 186},
 48: {'City': 'London',
  'Country': 'United Kingdom',
  'NOC': 'GBR',
  'Summer': 'XXX',
  'Winter': nan,
  'Year': 2012,
  'Latitude': 51.5084153,
  'Longitude': -0.1255327,
  ' x': 985,
  ' y': 172},
 49: {'City': 'Sochi',
  'Country': 'Russia',
  'NOC': 'RUS',
  'Summer': nan,
  'Winter': 'XXII',
  'Year': 2014,
  'Latitude': 43.6,
  'Longitude': 39.730278,
  ' x': 1189,
  ' y': 222},
 50: {'City': 'Rio de Janeiro',
  'Country': 'Brazil',
  'NOC': 'BRA',
  'Summer': 'XXXI',
  'Winter': nan,
  'Year': 2016,
  'Latitude': -22.9027778,
  'Longitude': -43.2075005,
  ' x': 747,
  ' y': 648}}

In [41]:
from pyproj import Proj, transform

def mercator_projection(lon, lat):
    in_proj = Proj('epsg:4326')  # WGS84 Latitude/Longitude
    out_proj = Proj('ESRI:53030')  # Projection Robinson

    # Fonction pour convertir lat/long en x/y
    def project(lat, lon):
        x, y = transform(in_proj, out_proj, lon, lat)
        return x, y
# Example usage:
longitude = 12.0
latitude = 13.0
print(mercator_projection(longitude, latitude))

None